version: '3'
services:
  client:
    build: ./client
    ports:
      - '3000:3000'
    depends_on:
      - server

  server:
    build: ./server
    ports:
      - '5000:5000'
    environment:
      - DATABASE_URL=postgres://postgres:12345@db:5432/washing_machine
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: washing_machine
    ports:
      - '5432:5432'
